=begin
#Amadeus Travel Innovation Sandbox

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.2

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Airport Autocomplete - Find an IATA location code for flight search based on a city or airport name using the term parameter. By only using the country parameter, this API is also able to find all the IATA location codes associated with a country. Both term and country parameters can be used together to filter the results accordingly. The API is fully JQuery-Autocomplete compatible to enable you to quickly build a drop-down list for your users to find the right airport easily.
    # <p>Using the term parameter and given the start of any word in an airport's official name, a city name, or the start of an <a href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA code</a>, this API provides the full name and IATA location code of the city or airport, for use in flight searches. Only major cities and civilian airports with several commercial flights per week are included by default. The response provides up to 20 possible matches, sorted by importance, in a <a href=\"http://jqueryui.com/autocomplete/\">JQuery UI Autocomplete</a> compatible format. <a href=\"https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/airport-autocomplete-template.html\">This sample implementation</a> using JQuery UI may help. This API uses data from the <a href=\"https://github.com/opentraveldata/opentraveldata/blob/master/opentraveldata/optd_por_public.csv\">OpenTravelData</a> project. </p>  <p>By only using the country parameter, this API is also able to find all the IATA location codes associated with a country. Both term and country parameters can be used together to filter the results accordingly.           </p> <p>The value returned is the IATA location code. The label returned is always in UTF-8 format, with the airport official name (which is often in the native language), in the format of English City Name (if not already included in the airport name).</p> 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param term Search keyword that should represent the start of a word in a city or airport name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Identified a country based of a &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_3166-2#Current_codes\&quot;&gt;ISO 3166-1 alpha-2 code&lt;/a&gt; (default to US)
    # @option opts [BOOLEAN] :all_airports Boolean to include or not all airports, no matter their traffic rank. False by default, to only display relevant airports. (default to false)
    # @return [Array<AirportAutocompleteResponse>]
    def airport_autocomplete(apikey, term, opts = {})
      data, _status_code, _headers = airport_autocomplete_with_http_info(apikey, term, opts)
      return data
    end

    # Airport Autocomplete - Find an IATA location code for flight search based on a city or airport name using the term parameter. By only using the country parameter, this API is also able to find all the IATA location codes associated with a country. Both term and country parameters can be used together to filter the results accordingly. The API is fully JQuery-Autocomplete compatible to enable you to quickly build a drop-down list for your users to find the right airport easily.
    # &lt;p&gt;Using the term parameter and given the start of any word in an airport&#39;s official name, a city name, or the start of an &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt;, this API provides the full name and IATA location code of the city or airport, for use in flight searches. Only major cities and civilian airports with several commercial flights per week are included by default. The response provides up to 20 possible matches, sorted by importance, in a &lt;a href&#x3D;\&quot;http://jqueryui.com/autocomplete/\&quot;&gt;JQuery UI Autocomplete&lt;/a&gt; compatible format. &lt;a href&#x3D;\&quot;https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/airport-autocomplete-template.html\&quot;&gt;This sample implementation&lt;/a&gt; using JQuery UI may help. This API uses data from the &lt;a href&#x3D;\&quot;https://github.com/opentraveldata/opentraveldata/blob/master/opentraveldata/optd_por_public.csv\&quot;&gt;OpenTravelData&lt;/a&gt; project. &lt;/p&gt;  &lt;p&gt;By only using the country parameter, this API is also able to find all the IATA location codes associated with a country. Both term and country parameters can be used together to filter the results accordingly.           &lt;/p&gt; &lt;p&gt;The value returned is the IATA location code. The label returned is always in UTF-8 format, with the airport official name (which is often in the native language), in the format of English City Name (if not already included in the airport name).&lt;/p&gt; 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param term Search keyword that should represent the start of a word in a city or airport name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Identified a country based of a &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_3166-2#Current_codes\&quot;&gt;ISO 3166-1 alpha-2 code&lt;/a&gt;
    # @option opts [BOOLEAN] :all_airports Boolean to include or not all airports, no matter their traffic rank. False by default, to only display relevant airports.
    # @return [Array<(Array<AirportAutocompleteResponse>, Fixnum, Hash)>] Array<AirportAutocompleteResponse> data, response status code and response headers
    def airport_autocomplete_with_http_info(apikey, term, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DefaultApi.airport_autocomplete ..."
      end
      # verify the required parameter 'apikey' is set
      fail ArgumentError, "Missing the required parameter 'apikey' when calling DefaultApi.airport_autocomplete" if apikey.nil?
      # verify the required parameter 'term' is set
      fail ArgumentError, "Missing the required parameter 'term' when calling DefaultApi.airport_autocomplete" if term.nil?
      # resource path
      local_var_path = "/airports/autocomplete".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'apikey'] = apikey
      query_params[:'term'] = term
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'all_airports'] = opts[:'all_airports'] if !opts[:'all_airports'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<AirportAutocompleteResponse>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#airport_autocomplete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Car Rental Airport Search - Find car rental providers and rates when you provide an airport code, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
    # <p>With this API you can find out the price and type of car, for all car rental providers, near a specified airport.</p>  <p>You can quickly see the locations of car providers near a given airport, and what cars are available to rent, and at what prices. This API is based on our car pricing service that gets live availability from car providers, and is used to power a variety of airline and travel agency websites.</p>             <p>Results are validated from car providers, and thus response times may take up to 10 seconds (response times are typically about 5s), and the number of concurrent calls is throttled per user to avoid flooding our provider's systems. However, this means the final result is guaranteed to be live and accurate.</p>  <p>The configuration of this API allows search for car rentals in the rental location where the car is picked up (at the start of the rental), is the same as the one where it will be dropped off.</p> 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param location The &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the airport at which the car will be rented.
    # @param pick_up Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date.
    # @param drop_off Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang The preferred language of the content related to each car rental. Content will be returned in this language if available. (default to EN)
    # @option opts [String] :currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental. (default to USD)
    # @option opts [String] :provider 2 character car rental provider code. You may provide this parameter more than once.  (default to ZI)
    # @option opts [String] :rate_class Allows to request specific rate types. (default to ALL)
    # @option opts [String] :rate_plan Qualifies the rate depending on the pickup date and the rental duration. (default to DAILY)
    # @option opts [String] :rate_filter Defines the types of rates to be returned in the output (default to ESTIMATED)
    # @option opts [Array<String>] :vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times.
    # @return [CarSearchResponse]
    def car_rental_airport_search(apikey, location, pick_up, drop_off, opts = {})
      data, _status_code, _headers = car_rental_airport_search_with_http_info(apikey, location, pick_up, drop_off, opts)
      return data
    end

    # Car Rental Airport Search - Find car rental providers and rates when you provide an airport code, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
    # &lt;p&gt;With this API you can find out the price and type of car, for all car rental providers, near a specified airport.&lt;/p&gt;  &lt;p&gt;You can quickly see the locations of car providers near a given airport, and what cars are available to rent, and at what prices. This API is based on our car pricing service that gets live availability from car providers, and is used to power a variety of airline and travel agency websites.&lt;/p&gt;             &lt;p&gt;Results are validated from car providers, and thus response times may take up to 10 seconds (response times are typically about 5s), and the number of concurrent calls is throttled per user to avoid flooding our provider&#39;s systems. However, this means the final result is guaranteed to be live and accurate.&lt;/p&gt;  &lt;p&gt;The configuration of this API allows search for car rentals in the rental location where the car is picked up (at the start of the rental), is the same as the one where it will be dropped off.&lt;/p&gt; 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param location The &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the airport at which the car will be rented.
    # @param pick_up Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date.
    # @param drop_off Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang The preferred language of the content related to each car rental. Content will be returned in this language if available.
    # @option opts [String] :currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental.
    # @option opts [String] :provider 2 character car rental provider code. You may provide this parameter more than once. 
    # @option opts [String] :rate_class Allows to request specific rate types.
    # @option opts [String] :rate_plan Qualifies the rate depending on the pickup date and the rental duration.
    # @option opts [String] :rate_filter Defines the types of rates to be returned in the output
    # @option opts [Array<String>] :vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times.
    # @return [Array<(CarSearchResponse, Fixnum, Hash)>] CarSearchResponse data, response status code and response headers
    def car_rental_airport_search_with_http_info(apikey, location, pick_up, drop_off, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DefaultApi.car_rental_airport_search ..."
      end
      # verify the required parameter 'apikey' is set
      fail ArgumentError, "Missing the required parameter 'apikey' when calling DefaultApi.car_rental_airport_search" if apikey.nil?
      # verify the required parameter 'location' is set
      fail ArgumentError, "Missing the required parameter 'location' when calling DefaultApi.car_rental_airport_search" if location.nil?
      # verify the required parameter 'pick_up' is set
      fail ArgumentError, "Missing the required parameter 'pick_up' when calling DefaultApi.car_rental_airport_search" if pick_up.nil?
      # verify the required parameter 'drop_off' is set
      fail ArgumentError, "Missing the required parameter 'drop_off' when calling DefaultApi.car_rental_airport_search" if drop_off.nil?
      if opts[:'rate_filter'] && !['AVAILABLE', 'ESTIMATED', 'ALL'].include?(opts[:'rate_filter'])
        fail ArgumentError, 'invalid value for "rate_filter", must be one of AVAILABLE, ESTIMATED, ALL'
      end
      # resource path
      local_var_path = "/cars/search-airport".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'apikey'] = apikey
      query_params[:'location'] = location
      query_params[:'pick_up'] = pick_up
      query_params[:'drop_off'] = drop_off
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'provider'] = opts[:'provider'] if !opts[:'provider'].nil?
      query_params[:'rate_class'] = opts[:'rate_class'] if !opts[:'rate_class'].nil?
      query_params[:'rate_plan'] = opts[:'rate_plan'] if !opts[:'rate_plan'].nil?
      query_params[:'rate_filter'] = opts[:'rate_filter'] if !opts[:'rate_filter'].nil?
      query_params[:'vehicle'] = @api_client.build_collection_param(opts[:'vehicle'], :multi) if !opts[:'vehicle'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CarSearchResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#car_rental_airport_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Car Rental Geosearch - Locate car rental providers and available vehicles when you define a circular area with one coordinate and radius, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
    # <p>With this API you can find out the price and type of car, for all car rental providers, in a specified geographical location.</p>  <p>You can quickly see the locations of car providers near a given point, and what cars are available to rent, and at what prices. This API is based on our car pricing service that gets live availability from car providers, and is used to power a variety of airline and travel agency websites.</p>             <p>Results are validated from car providers, and thus response times may take up to 10 seconds (response times are typically about 5s), and the number of concurrent calls is throttled per user to avoid flooding our provider's systems. However, this means the final result is guaranteed to be live and accurate.</p>  <p>The configuration of this API allows search for car rentals in the rental location where the car is picked up (at the start of the rental), is the same as the one where it will be dropped off. </p> 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param latitude Latitude of the center of the search.
    # @param longitude Longitude of the center of the search.
    # @param radius Radius around the center to look for hotels in kilometers (km).
    # @param pick_up Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date.
    # @param drop_off Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang The preferred language of the content related to each car rental. Content will be returned in this language if available. (default to EN)
    # @option opts [String] :currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental. (default to USD)
    # @option opts [String] :provider 2 character car rental provider code. You may provide this parameter more than once.  (default to ZI)
    # @option opts [String] :rate_class Allows to request specific rate types. (default to ALL)
    # @option opts [String] :rate_plan Qualifies the rate depending on the pickup date and the rental duration. (default to DAILY)
    # @option opts [String] :rate_filter Defines the types of rates to be returned in the output (default to ESTIMATED)
    # @option opts [Array<String>] :vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times.
    # @return [CarSearchResponse]
    def car_rental_geosearch(apikey, latitude, longitude, radius, pick_up, drop_off, opts = {})
      data, _status_code, _headers = car_rental_geosearch_with_http_info(apikey, latitude, longitude, radius, pick_up, drop_off, opts)
      return data
    end

    # Car Rental Geosearch - Locate car rental providers and available vehicles when you define a circular area with one coordinate and radius, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
    # &lt;p&gt;With this API you can find out the price and type of car, for all car rental providers, in a specified geographical location.&lt;/p&gt;  &lt;p&gt;You can quickly see the locations of car providers near a given point, and what cars are available to rent, and at what prices. This API is based on our car pricing service that gets live availability from car providers, and is used to power a variety of airline and travel agency websites.&lt;/p&gt;             &lt;p&gt;Results are validated from car providers, and thus response times may take up to 10 seconds (response times are typically about 5s), and the number of concurrent calls is throttled per user to avoid flooding our provider&#39;s systems. However, this means the final result is guaranteed to be live and accurate.&lt;/p&gt;  &lt;p&gt;The configuration of this API allows search for car rentals in the rental location where the car is picked up (at the start of the rental), is the same as the one where it will be dropped off. &lt;/p&gt; 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param latitude Latitude of the center of the search.
    # @param longitude Longitude of the center of the search.
    # @param radius Radius around the center to look for hotels in kilometers (km).
    # @param pick_up Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date.
    # @param drop_off Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang The preferred language of the content related to each car rental. Content will be returned in this language if available.
    # @option opts [String] :currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental.
    # @option opts [String] :provider 2 character car rental provider code. You may provide this parameter more than once. 
    # @option opts [String] :rate_class Allows to request specific rate types.
    # @option opts [String] :rate_plan Qualifies the rate depending on the pickup date and the rental duration.
    # @option opts [String] :rate_filter Defines the types of rates to be returned in the output
    # @option opts [Array<String>] :vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times.
    # @return [Array<(CarSearchResponse, Fixnum, Hash)>] CarSearchResponse data, response status code and response headers
    def car_rental_geosearch_with_http_info(apikey, latitude, longitude, radius, pick_up, drop_off, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DefaultApi.car_rental_geosearch ..."
      end
      # verify the required parameter 'apikey' is set
      fail ArgumentError, "Missing the required parameter 'apikey' when calling DefaultApi.car_rental_geosearch" if apikey.nil?
      # verify the required parameter 'latitude' is set
      fail ArgumentError, "Missing the required parameter 'latitude' when calling DefaultApi.car_rental_geosearch" if latitude.nil?
      # verify the required parameter 'longitude' is set
      fail ArgumentError, "Missing the required parameter 'longitude' when calling DefaultApi.car_rental_geosearch" if longitude.nil?
      # verify the required parameter 'radius' is set
      fail ArgumentError, "Missing the required parameter 'radius' when calling DefaultApi.car_rental_geosearch" if radius.nil?
      # verify the required parameter 'pick_up' is set
      fail ArgumentError, "Missing the required parameter 'pick_up' when calling DefaultApi.car_rental_geosearch" if pick_up.nil?
      # verify the required parameter 'drop_off' is set
      fail ArgumentError, "Missing the required parameter 'drop_off' when calling DefaultApi.car_rental_geosearch" if drop_off.nil?
      if opts[:'rate_filter'] && !['AVAILABLE', 'ESTIMATED', 'ALL'].include?(opts[:'rate_filter'])
        fail ArgumentError, 'invalid value for "rate_filter", must be one of AVAILABLE, ESTIMATED, ALL'
      end
      # resource path
      local_var_path = "/cars/search-circle".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'apikey'] = apikey
      query_params[:'latitude'] = latitude
      query_params[:'longitude'] = longitude
      query_params[:'radius'] = radius
      query_params[:'pick_up'] = pick_up
      query_params[:'drop_off'] = drop_off
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'provider'] = opts[:'provider'] if !opts[:'provider'].nil?
      query_params[:'rate_class'] = opts[:'rate_class'] if !opts[:'rate_class'].nil?
      query_params[:'rate_plan'] = opts[:'rate_plan'] if !opts[:'rate_plan'].nil?
      query_params[:'rate_filter'] = opts[:'rate_filter'] if !opts[:'rate_filter'].nil?
      query_params[:'vehicle'] = @api_client.build_collection_param(opts[:'vehicle'], :multi) if !opts[:'vehicle'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CarSearchResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#car_rental_geosearch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Flight Affiliate Search - Use Travel Audience Connect's affiliate network API to search flights from our list of partners and provides deep-links to allow the user to book directly on the airline website.
    # <p>The Flight Affiliate Search API combines Amadeus' flight search technology with Travel Audience's Connect API partners to provide a unique flight search, where all results come with deep-links to book the flight at a partner's website. The API will let you easily provide the traveler with a path to book flights from your application.</p> <p>Travel Audience Connect partners include <ul>   <li><a href=\"http://www.cityjet.com/\">CityJet</a>, <a href=\"https://www.aireuropa.com/en/flights\">Air Europa</a> and <a href=\"http://www.flytap.com/\">TAP</a> in Western Europe,</li>   <li><a href=\"http://uralairlines.com/\">Ural Airlines</a> in Russia, </li>   <li><a href=\"http://www.avianca.com.br/\">Avianca Brazil</a>  and</li>   <li><a href=\"http://www.jal.com/\">JAL</a> in East Asia</li> </ul> </p> <p>Only Travel Audience Connect partner airlines are searched. For an up-to-date list of routes, see the route maps on each partners respective websites above. You can earn commission using the deep links provided in the search results if you sign up for an account at <a href=\"http://connect.travelaudience.com/\">connect.travelaudience.com</a>.</p> 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param origin City code from which the traveler will depart. See the location and airport interfaces for more information.
    # @param destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going
    # @param departure_date The date on which the traveler will depart from the origin to go to the destination. The maximum scope for a date range is 2 days, for a larger scope, use the Extensive Search! 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :return_date The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found (default to 2017-08-28)
    # @option opts [Integer] :adults The number of adult (age 12 and over) passengers traveling on this flight. (default to 1)
    # @option opts [Integer] :children The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat (default to 0)
    # @option opts [Integer] :infants The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults. (default to 0)
    # @option opts [Array<String>] :include_merchants If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt;
    # @option opts [Array<String>] :exclude_merchants If specified, no results will include any flights where any of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt;
    # @option opts [Integer] :max_price Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied (default to 980)
    # @option opts [String] :currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results (default to EUR)
    # @option opts [BOOLEAN] :mobile Setting this to true will show mobile web deeplinks  (default to false)
    # @return [AffiliateSearchResponse]
    def flight_affiliate_search(apikey, origin, destination, departure_date, opts = {})
      data, _status_code, _headers = flight_affiliate_search_with_http_info(apikey, origin, destination, departure_date, opts)
      return data
    end

    # Flight Affiliate Search - Use Travel Audience Connect&#39;s affiliate network API to search flights from our list of partners and provides deep-links to allow the user to book directly on the airline website.
    # &lt;p&gt;The Flight Affiliate Search API combines Amadeus&#39; flight search technology with Travel Audience&#39;s Connect API partners to provide a unique flight search, where all results come with deep-links to book the flight at a partner&#39;s website. The API will let you easily provide the traveler with a path to book flights from your application.&lt;/p&gt; &lt;p&gt;Travel Audience Connect partners include &lt;ul&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://www.cityjet.com/\&quot;&gt;CityJet&lt;/a&gt;, &lt;a href&#x3D;\&quot;https://www.aireuropa.com/en/flights\&quot;&gt;Air Europa&lt;/a&gt; and &lt;a href&#x3D;\&quot;http://www.flytap.com/\&quot;&gt;TAP&lt;/a&gt; in Western Europe,&lt;/li&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://uralairlines.com/\&quot;&gt;Ural Airlines&lt;/a&gt; in Russia, &lt;/li&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://www.avianca.com.br/\&quot;&gt;Avianca Brazil&lt;/a&gt;  and&lt;/li&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://www.jal.com/\&quot;&gt;JAL&lt;/a&gt; in East Asia&lt;/li&gt; &lt;/ul&gt; &lt;/p&gt; &lt;p&gt;Only Travel Audience Connect partner airlines are searched. For an up-to-date list of routes, see the route maps on each partners respective websites above. You can earn commission using the deep links provided in the search results if you sign up for an account at &lt;a href&#x3D;\&quot;http://connect.travelaudience.com/\&quot;&gt;connect.travelaudience.com&lt;/a&gt;.&lt;/p&gt; 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param origin City code from which the traveler will depart. See the location and airport interfaces for more information.
    # @param destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going
    # @param departure_date The date on which the traveler will depart from the origin to go to the destination. The maximum scope for a date range is 2 days, for a larger scope, use the Extensive Search! 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :return_date The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found
    # @option opts [Integer] :adults The number of adult (age 12 and over) passengers traveling on this flight.
    # @option opts [Integer] :children The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat
    # @option opts [Integer] :infants The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults.
    # @option opts [Array<String>] :include_merchants If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt;
    # @option opts [Array<String>] :exclude_merchants If specified, no results will include any flights where any of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt;
    # @option opts [Integer] :max_price Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied
    # @option opts [String] :currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results
    # @option opts [BOOLEAN] :mobile Setting this to true will show mobile web deeplinks 
    # @return [Array<(AffiliateSearchResponse, Fixnum, Hash)>] AffiliateSearchResponse data, response status code and response headers
    def flight_affiliate_search_with_http_info(apikey, origin, destination, departure_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DefaultApi.flight_affiliate_search ..."
      end
      # verify the required parameter 'apikey' is set
      fail ArgumentError, "Missing the required parameter 'apikey' when calling DefaultApi.flight_affiliate_search" if apikey.nil?
      # verify the required parameter 'origin' is set
      fail ArgumentError, "Missing the required parameter 'origin' when calling DefaultApi.flight_affiliate_search" if origin.nil?
      # verify the required parameter 'destination' is set
      fail ArgumentError, "Missing the required parameter 'destination' when calling DefaultApi.flight_affiliate_search" if destination.nil?
      # verify the required parameter 'departure_date' is set
      fail ArgumentError, "Missing the required parameter 'departure_date' when calling DefaultApi.flight_affiliate_search" if departure_date.nil?
      # resource path
      local_var_path = "/flights/affiliate-search".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'apikey'] = apikey
      query_params[:'origin'] = origin
      query_params[:'destination'] = destination
      query_params[:'departure_date'] = departure_date
      query_params[:'return_date'] = opts[:'return_date'] if !opts[:'return_date'].nil?
      query_params[:'adults'] = opts[:'adults'] if !opts[:'adults'].nil?
      query_params[:'children'] = opts[:'children'] if !opts[:'children'].nil?
      query_params[:'infants'] = opts[:'infants'] if !opts[:'infants'].nil?
      query_params[:'include_merchants'] = @api_client.build_collection_param(opts[:'include_merchants'], :csv) if !opts[:'include_merchants'].nil?
      query_params[:'exclude_merchants'] = @api_client.build_collection_param(opts[:'exclude_merchants'], :csv) if !opts[:'exclude_merchants'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'mobile'] = opts[:'mobile'] if !opts[:'mobile'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AffiliateSearchResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#flight_affiliate_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Flight Extensive Search - Build travel searches based on very flexible and open range of dates. You can use it to answer questions such as \"When is the best date to fly...\".  It's built on Amadeus' Featured Results technology, which returns thousands of results (prices, itineraries and dates) in a matter of milliseconds. Results are available over half a calendar year with a 1 to 15 day stay duration
    # <p>The Extensive Flight Search allows you to find the prices of one-way or return flights between two airports over a large number of dates, and for a large variety of stay durations. The search doesn't return exact itineraries, but rather tells you the best price for a flight on a given day, for a stay of a given duration.</p>  <p>The search is based on our Extreme Search platform, which continually caches a large number of flight search results from a list of origin cities to a variety of destinations. Since it's a cached search, the response time is fast, but not all origin airports are available. Here is <a href=\"https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/flight-search-cache-origin-destination.csv\">a list of the currently supported origin-destination IATA location pairs</a>. We try to keep this list as fresh as possible for you, but be aware that it may not always be exactly up-to-date and it can change without warning.</p>  <p>That said, a price graph like this provides a powerful bargin shopping tool - allowing travelers with flexible itineraries to identify days on which they can get the cheapest flights to their destinations.</p> 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param origin &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city from which the traveler will depart. See the location and airport interfaces for more information.
    # @param destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going
    # @param [Hash] opts the optional parameters
    # @option opts [String] :departure_date Range of dates between which the traveler could depart. Dates are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-dd date format. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single date is specified, only that date will be searched. By default, the date range starts today and applies up to 361 in the future is applied. Past dates are generally not supported, future dates should be in the next 361 days, although results start to become sparse after about 6 months in the future, as airlines may still be defining their schedules. The default is to search all future dates available.   (default to 2017-08-16--2017-08-26)
    # @option opts [BOOLEAN] :one_way When set to true, the query will be for a single trip from the origin to the destination. When this parameter is not provided, or is set to false, the query is for a round trip from the origin to the destination and back again. (default to false)
    # @option opts [String] :duration The allowed duration or range of durations of the trip, in days. This parameter must not be set if the one-way parameter is set to true. (default to 1--15)
    # @option opts [BOOLEAN] :direct Limit the search to results that do not require the passenger to change plane? (default to false)
    # @option opts [String] :max_price Maximum price of trips to find in the result set, in the currency specified for this origin and destination pair in the cache contents spreadsheet. So, for example, if the origin is NYC, and the max price is 400, this means 400 USD. If the origin is PAR, and the max price is 400, this means 400 EUR. By default, no limit is applied (default to 950)
    # @option opts [String] :aggregation_mode Specifies the granularity of results to be found. DAY is the default when one-way is true finds a result for departure date in the date range. STAY is the default otherwise and finds all round trip permutations for this route withim the given date range. DESTINATION finds one result, only the cheapest price for this route over the provided date range. WEEK finds the cheapest result for every week in the date range. Note that specifying a small granularity but a large search scope may result in a huge output. For some very large outputs, the API may refuse to provide a result. (default to DAY)
    # @return [ExtremeSearchResponse]
    def flight_extensive_search(apikey, origin, destination, opts = {})
      data, _status_code, _headers = flight_extensive_search_with_http_info(apikey, origin, destination, opts)
      return data
    end

    # Flight Extensive Search - Build travel searches based on very flexible and open range of dates. You can use it to answer questions such as \&quot;When is the best date to fly...\&quot;.  It&#39;s built on Amadeus&#39; Featured Results technology, which returns thousands of results (prices, itineraries and dates) in a matter of milliseconds. Results are available over half a calendar year with a 1 to 15 day stay duration
    # &lt;p&gt;The Extensive Flight Search allows you to find the prices of one-way or return flights between two airports over a large number of dates, and for a large variety of stay durations. The search doesn&#39;t return exact itineraries, but rather tells you the best price for a flight on a given day, for a stay of a given duration.&lt;/p&gt;  &lt;p&gt;The search is based on our Extreme Search platform, which continually caches a large number of flight search results from a list of origin cities to a variety of destinations. Since it&#39;s a cached search, the response time is fast, but not all origin airports are available. Here is &lt;a href&#x3D;\&quot;https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/flight-search-cache-origin-destination.csv\&quot;&gt;a list of the currently supported origin-destination IATA location pairs&lt;/a&gt;. We try to keep this list as fresh as possible for you, but be aware that it may not always be exactly up-to-date and it can change without warning.&lt;/p&gt;  &lt;p&gt;That said, a price graph like this provides a powerful bargin shopping tool - allowing travelers with flexible itineraries to identify days on which they can get the cheapest flights to their destinations.&lt;/p&gt; 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param origin &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city from which the traveler will depart. See the location and airport interfaces for more information.
    # @param destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going
    # @param [Hash] opts the optional parameters
    # @option opts [String] :departure_date Range of dates between which the traveler could depart. Dates are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-dd date format. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single date is specified, only that date will be searched. By default, the date range starts today and applies up to 361 in the future is applied. Past dates are generally not supported, future dates should be in the next 361 days, although results start to become sparse after about 6 months in the future, as airlines may still be defining their schedules. The default is to search all future dates available.  
    # @option opts [BOOLEAN] :one_way When set to true, the query will be for a single trip from the origin to the destination. When this parameter is not provided, or is set to false, the query is for a round trip from the origin to the destination and back again.
    # @option opts [String] :duration The allowed duration or range of durations of the trip, in days. This parameter must not be set if the one-way parameter is set to true.
    # @option opts [BOOLEAN] :direct Limit the search to results that do not require the passenger to change plane?
    # @option opts [String] :max_price Maximum price of trips to find in the result set, in the currency specified for this origin and destination pair in the cache contents spreadsheet. So, for example, if the origin is NYC, and the max price is 400, this means 400 USD. If the origin is PAR, and the max price is 400, this means 400 EUR. By default, no limit is applied
    # @option opts [String] :aggregation_mode Specifies the granularity of results to be found. DAY is the default when one-way is true finds a result for departure date in the date range. STAY is the default otherwise and finds all round trip permutations for this route withim the given date range. DESTINATION finds one result, only the cheapest price for this route over the provided date range. WEEK finds the cheapest result for every week in the date range. Note that specifying a small granularity but a large search scope may result in a huge output. For some very large outputs, the API may refuse to provide a result.
    # @return [Array<(ExtremeSearchResponse, Fixnum, Hash)>] ExtremeSearchResponse data, response status code and response headers
    def flight_extensive_search_with_http_info(apikey, origin, destination, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DefaultApi.flight_extensive_search ..."
      end
      # verify the required parameter 'apikey' is set
      fail ArgumentError, "Missing the required parameter 'apikey' when calling DefaultApi.flight_extensive_search" if apikey.nil?
      # verify the required parameter 'origin' is set
      fail ArgumentError, "Missing the required parameter 'origin' when calling DefaultApi.flight_extensive_search" if origin.nil?
      # verify the required parameter 'destination' is set
      fail ArgumentError, "Missing the required parameter 'destination' when calling DefaultApi.flight_extensive_search" if destination.nil?
      # resource path
      local_var_path = "/flights/extensive-search".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'apikey'] = apikey
      query_params[:'origin'] = origin
      query_params[:'destination'] = destination
      query_params[:'departure_date'] = opts[:'departure_date'] if !opts[:'departure_date'].nil?
      query_params[:'one-way'] = opts[:'one_way'] if !opts[:'one_way'].nil?
      query_params[:'duration'] = opts[:'duration'] if !opts[:'duration'].nil?
      query_params[:'direct'] = opts[:'direct'] if !opts[:'direct'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'aggregation_mode'] = opts[:'aggregation_mode'] if !opts[:'aggregation_mode'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExtremeSearchResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#flight_extensive_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Flight Inspiration Search - Go beyond the traditional search by origin, destination and dates to meet the needs of travelers looking for suggestions and a search experience that reflects the way they choose their trip. This can help you answer the question \"Where can I go within a given travel budget?\"
    # <p>The Inspiration Flight Search allows you to find the prices of one-way and return flights from an origin city without necessarily having a destination, or even a flight date, in mind. The search doesn't return a distinct set of price options, but rather, can tell you the price of flying from a given city to some destination, for a trip of a given duration, that falls within a given date range.</p>  <p>The search is based on our Extreme Search platform, which continually caches a large number of flight search results from a list of origin cities to a variety of destinations. Since it's a cached search, the response time is fast, but not all origin airports are available. Here is <a href=\"https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/flight-search-cache-origin-destination.csv\">a list of the currently supported origin-destination IATA location pairs</a>. We try to keep this list as fresh as possible for you, but be aware that it may not always be exactly up-to-date and it can change without warning.</p>  <p>Despite this limitation don't underestimate the power of this API. Thanks to its quick response speed you can easily pair it with other APIs to provide a low fare and inspiration for any destination. For example, you can could combine it with a event search API and suggest a total price to see go and see an concert or a game in a selection of cities.</p> 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param origin &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city from which the traveler will depart. See the location and airport interfaces for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (default to LAX)
    # @option opts [String] :departure_date Range of dates between which the traveler could depart. Dates are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-dd date format. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single date is specified, only that date will be searched. By default, the date range starts today and applies up to 361 in the future is applied. Past dates are generally not supported, future dates should be in the next 361 days, although results start to become sparse after about 6 months in the future, as airlines may still be defining their schedules. The default is to search all future dates available. (default to 2017-08-16--2017-08-26)
    # @option opts [BOOLEAN] :one_way When set to true, the query will be for a single trip from the origin to the destination. When this parameter is not provided, or is set to false, the query is for a round trip from the origin to the destination and back again. (default to false)
    # @option opts [String] :duration The allowed duration or range of durations of the trip, in days. This parameter must not be set if the one-way parameter is set to true. (default to 1--15)
    # @option opts [BOOLEAN] :direct Limit the search to results that do not require the passenger to change plane? (default to false)
    # @option opts [String] :max_price Maximum price of trips to find in the result set, in the currency specified for this origin and destination pair in the cache contents spreadsheet. So, for example, if the origin is NYC, and the max price is 400, this means 400 USD. If the origin is PAR, and the max price is 400, this means 400 EUR. By default, no limit is applied
    # @option opts [String] :aggregation_mode Specifies the granularity of results to be found. DESTINATION is the default and finds one result per city. COUNTRY finds one result per country, DAY finds on result for every day in the date range, WEEK finds one result for every week in the date range. Note that specifying a small granularity but a large search scope may result in a huge output. For some very large outputs, the API may refuse to provide a result.
    # @return [ExtremeSearchResponse]
    def flight_inspiration_search(apikey, origin, opts = {})
      data, _status_code, _headers = flight_inspiration_search_with_http_info(apikey, origin, opts)
      return data
    end

    # Flight Inspiration Search - Go beyond the traditional search by origin, destination and dates to meet the needs of travelers looking for suggestions and a search experience that reflects the way they choose their trip. This can help you answer the question \&quot;Where can I go within a given travel budget?\&quot;
    # &lt;p&gt;The Inspiration Flight Search allows you to find the prices of one-way and return flights from an origin city without necessarily having a destination, or even a flight date, in mind. The search doesn&#39;t return a distinct set of price options, but rather, can tell you the price of flying from a given city to some destination, for a trip of a given duration, that falls within a given date range.&lt;/p&gt;  &lt;p&gt;The search is based on our Extreme Search platform, which continually caches a large number of flight search results from a list of origin cities to a variety of destinations. Since it&#39;s a cached search, the response time is fast, but not all origin airports are available. Here is &lt;a href&#x3D;\&quot;https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/flight-search-cache-origin-destination.csv\&quot;&gt;a list of the currently supported origin-destination IATA location pairs&lt;/a&gt;. We try to keep this list as fresh as possible for you, but be aware that it may not always be exactly up-to-date and it can change without warning.&lt;/p&gt;  &lt;p&gt;Despite this limitation don&#39;t underestimate the power of this API. Thanks to its quick response speed you can easily pair it with other APIs to provide a low fare and inspiration for any destination. For example, you can could combine it with a event search API and suggest a total price to see go and see an concert or a game in a selection of cities.&lt;/p&gt; 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param origin &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city from which the traveler will depart. See the location and airport interfaces for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going
    # @option opts [String] :departure_date Range of dates between which the traveler could depart. Dates are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-dd date format. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single date is specified, only that date will be searched. By default, the date range starts today and applies up to 361 in the future is applied. Past dates are generally not supported, future dates should be in the next 361 days, although results start to become sparse after about 6 months in the future, as airlines may still be defining their schedules. The default is to search all future dates available.
    # @option opts [BOOLEAN] :one_way When set to true, the query will be for a single trip from the origin to the destination. When this parameter is not provided, or is set to false, the query is for a round trip from the origin to the destination and back again.
    # @option opts [String] :duration The allowed duration or range of durations of the trip, in days. This parameter must not be set if the one-way parameter is set to true.
    # @option opts [BOOLEAN] :direct Limit the search to results that do not require the passenger to change plane?
    # @option opts [String] :max_price Maximum price of trips to find in the result set, in the currency specified for this origin and destination pair in the cache contents spreadsheet. So, for example, if the origin is NYC, and the max price is 400, this means 400 USD. If the origin is PAR, and the max price is 400, this means 400 EUR. By default, no limit is applied
    # @option opts [String] :aggregation_mode Specifies the granularity of results to be found. DESTINATION is the default and finds one result per city. COUNTRY finds one result per country, DAY finds on result for every day in the date range, WEEK finds one result for every week in the date range. Note that specifying a small granularity but a large search scope may result in a huge output. For some very large outputs, the API may refuse to provide a result.
    # @return [Array<(ExtremeSearchResponse, Fixnum, Hash)>] ExtremeSearchResponse data, response status code and response headers
    def flight_inspiration_search_with_http_info(apikey, origin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DefaultApi.flight_inspiration_search ..."
      end
      # verify the required parameter 'apikey' is set
      fail ArgumentError, "Missing the required parameter 'apikey' when calling DefaultApi.flight_inspiration_search" if apikey.nil?
      # verify the required parameter 'origin' is set
      fail ArgumentError, "Missing the required parameter 'origin' when calling DefaultApi.flight_inspiration_search" if origin.nil?
      # resource path
      local_var_path = "/flights/inspiration-search".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'apikey'] = apikey
      query_params[:'origin'] = origin
      query_params[:'destination'] = opts[:'destination'] if !opts[:'destination'].nil?
      query_params[:'departure_date'] = opts[:'departure_date'] if !opts[:'departure_date'].nil?
      query_params[:'one-way'] = opts[:'one_way'] if !opts[:'one_way'].nil?
      query_params[:'duration'] = opts[:'duration'] if !opts[:'duration'].nil?
      query_params[:'direct'] = opts[:'direct'] if !opts[:'direct'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'aggregation_mode'] = opts[:'aggregation_mode'] if !opts[:'aggregation_mode'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExtremeSearchResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#flight_inspiration_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Flight Low-Fare Search - Find the cheapest one way or return itineraries and fares between two airports at specific dates.
    # <p>This is the low fare search engine Amadeus uses to retrieve the best price for flights, based on our latest Master Pricer Travel Board technology. This document describes how to make a low fare search and how to handle the returned messages.</p>  <p>The message is composed of multiple results for given request. A result is defined by a unique combination of price, tax, passenger type, fare type, cabin, and availability for each requested segment.</p>   <p>A result is then composed of single or multiple itineraries. Each itinerary is composed of an outbound leg, and, if a return date was specified, an inbound leg. Each leg is composed of a list of one or more flights, that the traveller will be required to take in order to get from the origin airport to the destination airport.</p> 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param origin City code from which the traveler will depart. See the location and airport interfaces for more information.
    # @param destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going
    # @param departure_date The date on which the traveler will depart from the origin to go to the destination. You can specify a date range of up to 2 days. For a larger date range, use the Extensive Search. Dates are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-dd date format and separated by --.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :return_date The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found. You can specify a date range of up to 2 days. (default to 2017-08-28)
    # @option opts [String] :arrive_by The datetime by which the outbound flight should arrive, based on local time at the destination airport.  Date-times are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-ddTHH:mm date format (default to 2017-08-25T16:00)
    # @option opts [String] :return_by The time by which the inbound flight should arrive, based on local time at the airport specified as the origin parameter (default to 2017-08-28T08:00)
    # @option opts [Integer] :adults The number of adult (age 12 and over) passengers traveling on this flight. (default to 1)
    # @option opts [Integer] :children The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat (default to 0)
    # @option opts [Integer] :infants The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults. (default to 0)
    # @option opts [Array<String>] :include_airlines If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. This behaves as an OR function. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt;.
    # @option opts [Array<String>] :exclude_airlines If specified, no results will include any flights where any of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt;.
    # @option opts [BOOLEAN] :nonstop Setting this to true will find only flights that do not require the passenger to change from one flight to another (default to false)
    # @option opts [Integer] :max_price Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied (default to 980)
    # @option opts [String] :currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results (default to USD)
    # @option opts [String] :travel_class Searches for results where the majority of the itinerary flight time should be in a the specified cabin class or higher (default to ECONOMY)
    # @option opts [Integer] :number_of_results The number of results to display. This will not be strictly interpreted but used as a guideline to display a useful number of results. By default, the number of results is dynamically determined. A maximum of 250 results will be displayed. (default to 5)
    # @return [LowFareSearchResponse]
    def flight_low_fare_search(apikey, origin, destination, departure_date, opts = {})
      data, _status_code, _headers = flight_low_fare_search_with_http_info(apikey, origin, destination, departure_date, opts)
      return data
    end

    # Flight Low-Fare Search - Find the cheapest one way or return itineraries and fares between two airports at specific dates.
    # &lt;p&gt;This is the low fare search engine Amadeus uses to retrieve the best price for flights, based on our latest Master Pricer Travel Board technology. This document describes how to make a low fare search and how to handle the returned messages.&lt;/p&gt;  &lt;p&gt;The message is composed of multiple results for given request. A result is defined by a unique combination of price, tax, passenger type, fare type, cabin, and availability for each requested segment.&lt;/p&gt;   &lt;p&gt;A result is then composed of single or multiple itineraries. Each itinerary is composed of an outbound leg, and, if a return date was specified, an inbound leg. Each leg is composed of a list of one or more flights, that the traveller will be required to take in order to get from the origin airport to the destination airport.&lt;/p&gt; 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param origin City code from which the traveler will depart. See the location and airport interfaces for more information.
    # @param destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going
    # @param departure_date The date on which the traveler will depart from the origin to go to the destination. You can specify a date range of up to 2 days. For a larger date range, use the Extensive Search. Dates are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-dd date format and separated by --.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :return_date The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found. You can specify a date range of up to 2 days.
    # @option opts [String] :arrive_by The datetime by which the outbound flight should arrive, based on local time at the destination airport.  Date-times are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-ddTHH:mm date format
    # @option opts [String] :return_by The time by which the inbound flight should arrive, based on local time at the airport specified as the origin parameter
    # @option opts [Integer] :adults The number of adult (age 12 and over) passengers traveling on this flight.
    # @option opts [Integer] :children The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat
    # @option opts [Integer] :infants The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults.
    # @option opts [Array<String>] :include_airlines If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. This behaves as an OR function. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt;.
    # @option opts [Array<String>] :exclude_airlines If specified, no results will include any flights where any of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt;.
    # @option opts [BOOLEAN] :nonstop Setting this to true will find only flights that do not require the passenger to change from one flight to another
    # @option opts [Integer] :max_price Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied
    # @option opts [String] :currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results
    # @option opts [String] :travel_class Searches for results where the majority of the itinerary flight time should be in a the specified cabin class or higher
    # @option opts [Integer] :number_of_results The number of results to display. This will not be strictly interpreted but used as a guideline to display a useful number of results. By default, the number of results is dynamically determined. A maximum of 250 results will be displayed.
    # @return [Array<(LowFareSearchResponse, Fixnum, Hash)>] LowFareSearchResponse data, response status code and response headers
    def flight_low_fare_search_with_http_info(apikey, origin, destination, departure_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DefaultApi.flight_low_fare_search ..."
      end
      # verify the required parameter 'apikey' is set
      fail ArgumentError, "Missing the required parameter 'apikey' when calling DefaultApi.flight_low_fare_search" if apikey.nil?
      # verify the required parameter 'origin' is set
      fail ArgumentError, "Missing the required parameter 'origin' when calling DefaultApi.flight_low_fare_search" if origin.nil?
      # verify the required parameter 'destination' is set
      fail ArgumentError, "Missing the required parameter 'destination' when calling DefaultApi.flight_low_fare_search" if destination.nil?
      # verify the required parameter 'departure_date' is set
      fail ArgumentError, "Missing the required parameter 'departure_date' when calling DefaultApi.flight_low_fare_search" if departure_date.nil?
      # resource path
      local_var_path = "/flights/low-fare-search".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'apikey'] = apikey
      query_params[:'origin'] = origin
      query_params[:'destination'] = destination
      query_params[:'departure_date'] = departure_date
      query_params[:'return_date'] = opts[:'return_date'] if !opts[:'return_date'].nil?
      query_params[:'arrive_by'] = opts[:'arrive_by'] if !opts[:'arrive_by'].nil?
      query_params[:'return_by'] = opts[:'return_by'] if !opts[:'return_by'].nil?
      query_params[:'adults'] = opts[:'adults'] if !opts[:'adults'].nil?
      query_params[:'children'] = opts[:'children'] if !opts[:'children'].nil?
      query_params[:'infants'] = opts[:'infants'] if !opts[:'infants'].nil?
      query_params[:'include_airlines'] = @api_client.build_collection_param(opts[:'include_airlines'], :csv) if !opts[:'include_airlines'].nil?
      query_params[:'exclude_airlines'] = @api_client.build_collection_param(opts[:'exclude_airlines'], :csv) if !opts[:'exclude_airlines'].nil?
      query_params[:'nonstop'] = opts[:'nonstop'] if !opts[:'nonstop'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'travel_class'] = opts[:'travel_class'] if !opts[:'travel_class'].nil?
      query_params[:'number_of_results'] = opts[:'number_of_results'] if !opts[:'number_of_results'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LowFareSearchResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#flight_low_fare_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Flight Traffic API - Find the true origin and destination traffic summary between two journey points over a specified period. This can help you answer questions like \"What cities are people coming from to visit Los Angeles between January through April of 2015\"
    # <p>The Flight Traffic API lets you find the origin and destination traffic summary between two journey points over a specified period.</p> <p>The search returns number of flights & travelers for each origin and destination, ordered by popularity, for each month specified within the search period. This search can help you answer questions like \"Where are people from Los Angeles traveling to between January and April of 2015?\" or \"Which is the most popular month for New Yorkers to travel last year?\". </p> <p>This search is based on Amadeus' Travel Intelligence Engine, a high performance scalable cloud-based platform, born in the age of Big Data and purposely built for the industry bringing total flexibility and speed to business intelligence for travel. Please see <a href=\"http://www.amadeus.com/travelintelligence\">amadeus.com/travelintelligence</a> for more information.</p> 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param period Range of periods for which flight traffic information is required. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single period is specified, only that period will be displayed. Only periods from 2011-01 up to previous month of the current year are valid. Future periods are not supported.
    # @param origin &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city from which the traveler will depart.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going. (default to LAX)
    # @option opts [Integer] :number_of_results_per_period The maximum number of destinations to return for each period. Destinations are ordered by dates and number of travelers. The maximum number of destinations per period returned is 50 (default to 5)
    # @return [Array<FlightTrafficSearchResult>]
    def flight_traffic_api(apikey, period, origin, opts = {})
      data, _status_code, _headers = flight_traffic_api_with_http_info(apikey, period, origin, opts)
      return data
    end

    # Flight Traffic API - Find the true origin and destination traffic summary between two journey points over a specified period. This can help you answer questions like \&quot;What cities are people coming from to visit Los Angeles between January through April of 2015\&quot;
    # &lt;p&gt;The Flight Traffic API lets you find the origin and destination traffic summary between two journey points over a specified period.&lt;/p&gt; &lt;p&gt;The search returns number of flights &amp; travelers for each origin and destination, ordered by popularity, for each month specified within the search period. This search can help you answer questions like \&quot;Where are people from Los Angeles traveling to between January and April of 2015?\&quot; or \&quot;Which is the most popular month for New Yorkers to travel last year?\&quot;. &lt;/p&gt; &lt;p&gt;This search is based on Amadeus&#39; Travel Intelligence Engine, a high performance scalable cloud-based platform, born in the age of Big Data and purposely built for the industry bringing total flexibility and speed to business intelligence for travel. Please see &lt;a href&#x3D;\&quot;http://www.amadeus.com/travelintelligence\&quot;&gt;amadeus.com/travelintelligence&lt;/a&gt; for more information.&lt;/p&gt; 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param period Range of periods for which flight traffic information is required. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single period is specified, only that period will be displayed. Only periods from 2011-01 up to previous month of the current year are valid. Future periods are not supported.
    # @param origin &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city from which the traveler will depart.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going.
    # @option opts [Integer] :number_of_results_per_period The maximum number of destinations to return for each period. Destinations are ordered by dates and number of travelers. The maximum number of destinations per period returned is 50
    # @return [Array<(Array<FlightTrafficSearchResult>, Fixnum, Hash)>] Array<FlightTrafficSearchResult> data, response status code and response headers
    def flight_traffic_api_with_http_info(apikey, period, origin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DefaultApi.flight_traffic_api ..."
      end
      # verify the required parameter 'apikey' is set
      fail ArgumentError, "Missing the required parameter 'apikey' when calling DefaultApi.flight_traffic_api" if apikey.nil?
      # verify the required parameter 'period' is set
      fail ArgumentError, "Missing the required parameter 'period' when calling DefaultApi.flight_traffic_api" if period.nil?
      # verify the required parameter 'origin' is set
      fail ArgumentError, "Missing the required parameter 'origin' when calling DefaultApi.flight_traffic_api" if origin.nil?
      # resource path
      local_var_path = "/travel-intelligence/flight-traffic".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'apikey'] = apikey
      query_params[:'period'] = period
      query_params[:'origin'] = origin
      query_params[:'destination'] = opts[:'destination'] if !opts[:'destination'].nil?
      query_params[:'number_of_results_per_period'] = opts[:'number_of_results_per_period'] if !opts[:'number_of_results_per_period'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<FlightTrafficSearchResult>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#flight_traffic_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Hotel Airport Search - Locate the cheapest available rooms near a given airport, for a given stay period. This API is ideal if you want to connect flight and hotels. Provide an IATA airport code, as well as the check-in and check-out dates, and get a list of up to 140 properties (names, codes, image, amenities) with their locations and rates. Optional parameters such as currency and maximum rates, amenities or hotel chain codes are also available and can be used to narrow down the results. More optional parameters such as show_sold_out & rooms can be used to show sold out rooms and all available rooms.
    # <p>A fast Hotel shopping API to see which hotels are available in a given area, on a given day and displays their lowest prices. With this API you can find out the price of the cheapest daily rate for all hotels near a given airport.</p>  <p>This API allows you to quickly see the locations of hotels near a given airport, and what prices in that area look like. Note that hotel images are not available to users outside of Amadeus, as we are not licensed to redistribute them. The API is based on our high-speed hotel pricing cache, which is also used to power the <a href=\"https://hotelsearchengine.amadeus.com/\">Amadeus Hotel Search Engine</a> application. Results are returned very quickly, response times are generally under 2s. Our cache has great global coverage and is constantly refreshed with the latest prices.</p> 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param location &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA airport code&lt;/a&gt; for hotel availability is required requested.
    # @param check_in Date on which the guest will begin their stay in the hotel. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date.
    # @param check_out Date on which the guest will end their stay in the hotel.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :radius Radius around the center to look for hotels in kilometers (km). (default to 42)
    # @option opts [String] :lang The preferred language of the content related to each hotel. Content will be returned in this language if available. (default to EN)
    # @option opts [String] :currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results (default to USD)
    # @option opts [String] :chain Narrows the hotel search to a given hotel provider. The hotel chain is indicated by the first two characters of the property code. (default to 6C)
    # @option opts [Float] :max_rate The maximum amount per night that any hotel in the shopping response should cost. This is calculated by dividing the total price of the stay for the given dates by the number of nights specified falling between the check_in and check_out dates. (default to 500)
    # @option opts [Integer] :number_of_results The maximum number of hotels to return in the results set. Hotels are ordered by total price, so if more than the given maximum number of hotels are available, only the cheapest options are returned. (default to 20)
    # @option opts [BOOLEAN] :all_rooms This option if enabled will return all hotel room rates, not just the lowest room rate. Note: This will have an impact on the response time due to the larger messages returned. (default to false)
    # @option opts [BOOLEAN] :show_sold_out This option if enabled will return hotel names and addresses even if rooms are sold out (closed properties) (default to false)
    # @option opts [Array<String>] :amenity Hotel &lt;a href&#x3D;\&quot;hotels-api-supported-amenities-filter\&quot;&gt;amenities filter&lt;/a&gt; to search narrow down hotels with certain amenities. For example&amp;colon; amenity&#x3D;POOL. (Note: multiple amenities can be used in searches: amenity&#x3D;PARKING&amp;amenity&#x3D;RESTAURANT&amp;amenity&#x3D;PETS_ALLOWED). 
    # @return [HotelSearchResponse]
    def hotel_airport_search(apikey, location, check_in, check_out, opts = {})
      data, _status_code, _headers = hotel_airport_search_with_http_info(apikey, location, check_in, check_out, opts)
      return data
    end

    # Hotel Airport Search - Locate the cheapest available rooms near a given airport, for a given stay period. This API is ideal if you want to connect flight and hotels. Provide an IATA airport code, as well as the check-in and check-out dates, and get a list of up to 140 properties (names, codes, image, amenities) with their locations and rates. Optional parameters such as currency and maximum rates, amenities or hotel chain codes are also available and can be used to narrow down the results. More optional parameters such as show_sold_out &amp; rooms can be used to show sold out rooms and all available rooms.
    # &lt;p&gt;A fast Hotel shopping API to see which hotels are available in a given area, on a given day and displays their lowest prices. With this API you can find out the price of the cheapest daily rate for all hotels near a given airport.&lt;/p&gt;  &lt;p&gt;This API allows you to quickly see the locations of hotels near a given airport, and what prices in that area look like. Note that hotel images are not available to users outside of Amadeus, as we are not licensed to redistribute them. The API is based on our high-speed hotel pricing cache, which is also used to power the &lt;a href&#x3D;\&quot;https://hotelsearchengine.amadeus.com/\&quot;&gt;Amadeus Hotel Search Engine&lt;/a&gt; application. Results are returned very quickly, response times are generally under 2s. Our cache has great global coverage and is constantly refreshed with the latest prices.&lt;/p&gt; 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param location &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA airport code&lt;/a&gt; for hotel availability is required requested.
    # @param check_in Date on which the guest will begin their stay in the hotel. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date.
    # @param check_out Date on which the guest will end their stay in the hotel.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :radius Radius around the center to look for hotels in kilometers (km).
    # @option opts [String] :lang The preferred language of the content related to each hotel. Content will be returned in this language if available.
    # @option opts [String] :currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results
    # @option opts [String] :chain Narrows the hotel search to a given hotel provider. The hotel chain is indicated by the first two characters of the property code.
    # @option opts [Float] :max_rate The maximum amount per night that any hotel in the shopping response should cost. This is calculated by dividing the total price of the stay for the given dates by the number of nights specified falling between the check_in and check_out dates.
    # @option opts [Integer] :number_of_results The maximum number of hotels to return in the results set. Hotels are ordered by total price, so if more than the given maximum number of hotels are available, only the cheapest options are returned.
    # @option opts [BOOLEAN] :all_rooms This option if enabled will return all hotel room rates, not just the lowest room rate. Note: This will have an impact on the response time due to the larger messages returned.
    # @option opts [BOOLEAN] :show_sold_out This option if enabled will return hotel names and addresses even if rooms are sold out (closed properties)
    # @option opts [Array<String>] :amenity Hotel &lt;a href&#x3D;\&quot;hotels-api-supported-amenities-filter\&quot;&gt;amenities filter&lt;/a&gt; to search narrow down hotels with certain amenities. For example&amp;colon; amenity&#x3D;POOL. (Note: multiple amenities can be used in searches: amenity&#x3D;PARKING&amp;amenity&#x3D;RESTAURANT&amp;amenity&#x3D;PETS_ALLOWED). 
    # @return [Array<(HotelSearchResponse, Fixnum, Hash)>] HotelSearchResponse data, response status code and response headers
    def hotel_airport_search_with_http_info(apikey, location, check_in, check_out, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DefaultApi.hotel_airport_search ..."
      end
      # verify the required parameter 'apikey' is set
      fail ArgumentError, "Missing the required parameter 'apikey' when calling DefaultApi.hotel_airport_search" if apikey.nil?
      # verify the required parameter 'location' is set
      fail ArgumentError, "Missing the required parameter 'location' when calling DefaultApi.hotel_airport_search" if location.nil?
      # verify the required parameter 'check_in' is set
      fail ArgumentError, "Missing the required parameter 'check_in' when calling DefaultApi.hotel_airport_search" if check_in.nil?
      # verify the required parameter 'check_out' is set
      fail ArgumentError, "Missing the required parameter 'check_out' when calling DefaultApi.hotel_airport_search" if check_out.nil?
      # resource path
      local_var_path = "/hotels/search-airport".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'apikey'] = apikey
      query_params[:'location'] = location
      query_params[:'check_in'] = check_in
      query_params[:'check_out'] = check_out
      query_params[:'radius'] = opts[:'radius'] if !opts[:'radius'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'chain'] = opts[:'chain'] if !opts[:'chain'].nil?
      query_params[:'max_rate'] = opts[:'max_rate'] if !opts[:'max_rate'].nil?
      query_params[:'number_of_results'] = opts[:'number_of_results'] if !opts[:'number_of_results'].nil?
      query_params[:'all_rooms'] = opts[:'all_rooms'] if !opts[:'all_rooms'].nil?
      query_params[:'show_sold_out'] = opts[:'show_sold_out'] if !opts[:'show_sold_out'].nil?
      query_params[:'amenity'] = @api_client.build_collection_param(opts[:'amenity'], :multi) if !opts[:'amenity'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'HotelSearchResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#hotel_airport_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Hotel Geosearch by box - Locate the cheapest available rooms within a given rectangular region for a given stay period. It's ideal for displaying results on a map.
    # <p>A fast Hotel shopping API to see which hotels are available in a given area, on a given day and displays their lowest prices. With this API you can find out the price of the cheapest daily rate for all hotels within a specified geographical region.</p>  <p>This API allows you to quickly see the hotel locations in a region, and what prices in that area look like,  as well as the check-in and check-out dates, and get a list of up to 140 properties (names, codes, image, amenities) with their locations and rates. Optional parameters such as currency and maximum rates, amenities or hotel chain codes are also available and can be used to narrow down the results. More optional parameters such as show_sold_out & rooms can be used to show sold out rooms and all available rooms.</p>              <p>The API is based on our high-speed hotel pricing cache, which is also used to power the <a href=\"https://hotelsearchengine.amadeus.com/\">Amadeus Hotel Search Engine</a> application. Results are returned very quickly, response times are generally under 2s. Our cache has great global coverage and is constantly refreshed with the latest prices.</p> 
    # @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
    # @param south_west_corner The coordinates of the south-west corner of the search box.
    # @param north_east_corner The coordinates of the north-east corner of the search box.
    # @param check_in Date on which the guest will begin their stay in the hotel. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date.
    # @param check_out Date on which the guest will end their stay in the hotel.
[...]
